<a href="https://colab.research.google.com/github/ljaeyun/python/blob/master/10%EC%9E%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
sqlite3.sqlite_version

'3.22.0'

In [12]:
conn = sqlite3.connect('example.db')

In [13]:
conn

In [14]:
cur = conn.cursor()

In [15]:
cur

In [16]:
sql = """
create table contact(
  name text, 
  age int, 
  email text)
"""
cur.execute(sql)

In [18]:
conn.execute("insert into contact values('kim', 20, 'kim@naver.com')")

In [20]:
try:
  cur.execute("insert into contact values('kim', 20, 'kim@naver.com')")
  conn.commit();
except:
  conn.rollback()

In [22]:
conn.close()

# 저장된 데이터 불러오기

In [34]:
conn = sqlite3.connect('example.db')

In [35]:
cur = conn.cursor()

In [36]:
sql = 'select * from contact'

In [37]:
cur.execute(sql)

In [38]:
for row in cur:
  print(row)

('kim', 20, 'kim@naver.com')
('kim', 20, 'kim@naver.com')
('kim', 20, 'kim@naver.com')

In [39]:
# 1. connection 객체를얻는다
# 2. cursor 객체를 얻는다
# 3. sql 구문을 작성한다
# 4. cursor 객체로 execute 메서드를 실행
# 5. select의 경우 fetch, insert, update, delete 의 경우 commit 또는 rollback 함
# 6. connection 객체를 닫는다

In [41]:
cur.execute("select * from contact")
cur.fetchone()

('kim', 20, 'kim@naver.com')

In [42]:
cur.fetchall()

[('kim', 20, 'kim@naver.com'), ('kim', 20, 'kim@naver.com')]

# SQL 구문에 파라미터 사용하기

In [43]:
cur.execute("select * from contact where email=?", ("kim@naver.com",))
cur.fetchall()

[('kim', 20, 'kim@naver.com'),
 ('kim', 20, 'kim@naver.com'),
 ('kim', 20, 'kim@naver.com')]

In [45]:
user_email = "kim@naver.com"
cur.execute("select * from contact where email=:email",{"email":user_email})
cur.fetchall()

[('kim', 20, 'kim@naver.com'),
 ('kim', 20, 'kim@naver.com'),
 ('kim', 20, 'kim@naver.com')]

In [48]:
cur.execute("update contact set name='애옹' where email='kim@naver.com'")

In [49]:
cur.execute("select * from contact")

In [50]:
cur.fetchall()

[('애옹', 20, 'kim@naver.com'),
 ('애옹', 20, 'kim@naver.com'),
 ('애옹', 20, 'kim@naver.com')]

In [51]:
! pip install cx_oracle

Collecting cx_oracle
  Downloading https://files.pythonhosted.org/packages/87/fb/a7695553a831e79bec8d201211b489fa4c6e44d3c53828a94405ae184ca6/cx_Oracle-8.1.0-cp36-cp36m-manylinux1_x86_64.whl (803kB)
     |████████████████████████████████| 808kB 5.5MB/s
Installing collected packages: cx-oracle
Successfully installed cx-oracle-8.1.0

In [52]:
import cx_Oracle

In [53]:
cx_Oracle.__version__

'8.1.0'

In [62]:
dsn = cx_Oracle.makedsn('localhost', 1521, sid='xe')

In [68]:
dsn

'(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=xe)))'

In [69]:
conn = cx_Oracle.connect(dsn=dsn, user='hr',password='12345')

DatabaseError: ignored

In [60]:
pip install cx_Oracle --upgrade

Requirement already up-to-date: cx_Oracle in /usr/local/lib/python3.6/dist-packages (8.1.0)

In [61]:
pip install cx_Oracle --upgrade --user

Requirement already up-to-date: cx_Oracle in /usr/local/lib/python3.6/dist-packages (8.1.0)